# .env
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=fraud_db

DATABASE_URL=postgresql://admin:admin@postgres:5432/fraud_db

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=fraud-detection
MODEL_NAME=fraud-detection-model

# MinIO (S3-compatible storage)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Grafana
GRAFANA_PASSWORD=admin